<p style="color: green"><%= notice %></p>

<% content_for :title, "Payment terms" %>

<h1>Payment terms</h1>

<div id="payment_terms">
  <% @payment_terms.each do |payment_term| %>
    <%= render payment_term %>
    <p>
      <%= link_to "Show this payment term", payment_term %>
    </p>
  <% end %>
</div>

<%= link_to "New payment term", new_contract_payment_term_path(@contract) %>
