
<div class="container-fluid">

  <!-- List -->
  <% if @milestones.any? %>
    <div class="list-group list-group-flush">
      <% @milestones.each do |milestone| %>

        <div class="list-group-item py-3">
          <div class="d-flex justify-content-between align-items-center">

            <div>
              <div class="fw-semibold">
                <%= milestone.name %>
              </div>

              <small class="text-muted">
                Target date: <%= milestone.date %>
              </small>
            </div>

            <div class="d-flex align-items-center gap-2">
             <div>
  <% if milestone.completed? %>
    <span class="badge rounded-pill bg-success">Completed</span>
  <% else %>
    <span class="badge rounded-pill bg-secondary">Pending</span>
  <% end %>
</div>

              <%= link_to "Edit",
                  edit_milestone_path(milestone),
                  class: "btn btn-sm btn-outline-secondary" %>

              <%= button_to "Delete",
                  milestone_path(milestone),
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  form: { class: "d-inline" },
                  class: "btn btn-sm btn-outline-danger" %>
            </div>
          </div>
        </div>

      <% end %>
    </div>
  <% else %>
    <p class="text-muted text-center py-4">
      No milestones added yet.
    </p>
  <% end %>

</div>
