<div id="<%= dom_id milestone %>">
  <p>
    <strong>Name:</strong>
    <%= milestone.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= milestone.date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= milestone.status %>
  </p>

</div>
